* {
  box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
}

body h1{
  text-align: center;
  height: 20px;
}

main {
  height: 85vmin;
  display: flex;
}

  .secondary{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: initial;
  }

  .secondary > div img {
    /*width: 30vmin;*/
    height: 80%;
    border-radius: 50%;
    margin: 10px;
  }

  .secondary > div {
    display: flex;
    flex-grow: 4;
    height: calc(25% - 11px);
    margin: 15px;
    justify-content: space-around;
    background-color: grey;
    border-radius: 5px;
  }

  #last {
    display: flex;
    flex-direction: row;
    height: 50px;
    flex-grow: 0;
    background-color: initial;
    justify-content: flex-start;
  }

  .icon {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    background-color: grey;
  }

  .third{
    align-self: center;
    border-radius: 5px;
    height: 95%;
    width: 20%;
    background-color: red;
    /*margin-top: 15px;*/
  }
