body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
}

header h1 {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  height: 30px;
}

main {
  display: flex;
  flex-basis: 80%;
  padding: 15px;
  /*align-content: space-around;*/
  height: 85vh;
  /*margin: 0 25px 0 auto;*/
  /*box-sizing: border-box;*/
  justify-content: space-between;
  flex: auto;
  align-content: stretch;
}

content {
  border-radius: 10px;
  display: flex;
  flex-basis: 100%;
  margin: 0 10px 15px 10px;
    flex-direction: column;
    /*height: 100%;
    width: 100%;*/
    background-color: blue;
}

content > article {
    display: flex;
    /*flex-grow: 4;*/
    height: calc(25% - 11px);
    margin: 15px;
    background-color: grey;
    border-radius: 5px;
}

.bigger {
  flex-basis: 50%;
  margin-top: 0;
}

content > article :last-child {
  margin-bottom: 0;
}
content > article img {
  /*width: 30vmin;*/
  height: 80%;
  border-radius: 50%;
  margin: 10px;
}

aside {
  flex-basis: 30%;
  display: flex;
  border-radius: 5px;
  background-color: green;
  margin: 0 10px 15px 10px;
  }
