<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random a Person</title>
  </head>
  <body>
    <h1>Random a Person</h1>

    <form action="/pick_random" method="POST">

      <div>
        <label for="names">Names to sort:</label> <br/>
        <textarea name="names" id="names" rows="8" cols="100" placeholder="Type names separated by commas"></textarea>
      </div>

      <div>
        <br>
        <input type="submit" value="Pick Winner">
      </div>
    </form>

  </body>
</html>
