<%- include('../partials/header') %>

<h1>Chatr</h1>

<form id="new-message">
  <input type="text" name="username" placeholder="Type your name..."/>
  <textarea name="content" placeholder="Type your message..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<button id="filter" type="button" name="button">Filter</button>
<input id="search" type="text" placeholder="search by username...">

<ul id="messages"></ul>

<%- include('../partials/footer') %>
