<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
  </head>
  <body>

    <form class="" action="/tasks" method="post">
      <textarea name="title" rows="8" cols="80"></textarea>
      <button type="submit" name="submit">Submit</button>
    </form>

    <% for (let task of tasks) { %>
      <p>
        <%= task.title %>
      </p>
      <p>
        <%= task.created_at %>
      </p>
    <% } %>
  </body>
</html>
