* {
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0;
}

main > aside {
  background-color: rgba(0, 0, 0, 0.2);
  flex-basis: 20%;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main > aside > ul {
  padding: 0;
  min-width: 80%;
}

main > aside > ul > li {
  list-style-type: none;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
}

main > aside > ul > li:not(:last-child) {
  margin-bottom: 20px;
}

main > aside > footer {
  background-color: rgba(0,0,0,0.6);
  min-width: 80%;
  height: 10%;
  align-self: flex-end;
  margin-bottom: 20px;
}

main > section {
  flex-basis: 80%;
  background-color: red;
  display: flex;
  justify-content: space-around;
}

main > section > div.column {
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  background-color: yellow;
}

main > section > div.column:not(:last-child) {
  margin-right: 20px;
}

div.column > article {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

div.column > article > img {
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: center;
  margin: 20px;
  max-width: 200px;
  max-width: 200px;
  min-height: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer > div {
  background-color: grey;
  width: 40px;
  height: 40px;
}
